<header>
  <div class="container header-group">
    <a href="#mv">
      <img src="img/logo.png" alt="ロゴ" class="logo" >
    </a>
    <nav>
      <ul class="nav">
        <li class="nav-list">
          <a href="#portfolio">Portfolio</a>
        </li>
        <li class="nav-list">
          <a href="#feature">Feature</a>
        </li>
        <li class="nav-list">
          <a href="#profile">Profile</a>
        </li>
        <li class="nav-list">
          <a href="#contact">Contact</a>
        </li>
      </ul>
    </nav>
  </div>
</header>